<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>japko</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    
    <h1>JAPKO</h1>
    <p>{{records[0].id}}, {{records[0].name}}, {{records[0].shop_name}}, {{records[0].price}} ,{{records[0].mark}}</p>
    
    {% for record in records[1] %}
    <div class="ramka4form">
        <p>{{record.content}}</p>
    </div>
    {% endfor %}
    
    
    <h2>tekst tymczasowy</h2>
    <form action="/add_comment_japko" method="post">
        <input type="hidden" value="{{records[0].id}}" name="id">
        <input type="text" placeholder="napisz komentarz" name="komentarz">
        <input class="save" type="submit" value="&#10003;">
    </form>
    <style>
        .ramka4form,.ramka5form
        {
            float: left;
            z-index: 3;
            height: 5vh;
            width: 45vw;
            background: gray;
            position: relative;
            border-radius: 10px;
            margin-bottom: 1vh;
            overflow: hidden;
            margin-left: 2%;
        }    
    .ramka5form
        {
            height: 15vh;
            width: 90%;
            overflow-y: auto;
            word-wrap: break-word;
        }
    </style>
</body>
</html>