{% extends "layout.html" %} {% block content %}
<div class="container">
    <form class="userDataForm" action="" method="POST" action="">
        {{ form.hidden_tag() }}
        <p class="contains-h1">
            <h1>Logowanie</h1>
        </p>
        <p class="bigFormInput">{{ form.email(class="bigInput", placeholder="Podaj swój email") }}</p>
        <p class="bigFormInput"></p>{{ form.password(class="bigInput", placeholder="Podaj hasło") }}</p>

        <p class="termsText"> {{ form.remember() }} <span style="margin-left: 1vw">Zapamiętaj mój login i hasło</span></p>
        <p class="buttonP">{{ form.submit(class="accountButton", placeholder="Zaloguj się") }}</p>
    </form>
</div>

<style>
    * {
        border: 0;
        margin: 0;
        padding: 0;
    }
    
    body {
        display: flex;
        flex-direction: column;
        background-color: #686868;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        box-sizing: border-box;
    }
    
    h1 {
        text-align: center;
        font-size: 3vw;
        padding: 1vw;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 80vh;
        width: 60vw;
        background-color: #B4D2E7;
        border-radius: 6px;
        box-sizing: border-box;
    }
    
    .userDataForm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .bigInput {
        border-radius: 6px;
        height: 3vw;
        width: 30vw;
        font-size: 1vw;
        margin: 0.5vh 1vw;
        text-align: center;
    }
    
    .smallInput {
        border-radius: 6px;
        height: 3vw;
        width: 14vw;
        margin: 0.5vh 1vw;
        font-size: 1vw;
        text-align: center;
    }
    
    .buttonP {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .termsText {
        margin-left: 1vw;
        display: flex;
        font-size: 1vw;
    }
    
    .doubleColumns {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .accountButton {
        border-radius: 6px;
        width: 20vw;
        height: 3vw;
        font-size: 1vw;
        color: white;
        text-align: center;
        text-decoration: none;
        background-color: #5c0029;
        box-sizing: border-box;
    }
    
    input::placeholder,
    select {
        color: #000;
    }
</style>
{% endblock content %}