{% extends "layout.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <h1>{{ current_user.email }}</h1>


    <h2>Ulubione produkty:</h2>
    
    <div class="ramka5form">
        <div class="left">
        <p>{{records[0][0].id}} {{records[0][0].name}} {{records[0][0].price}}</p>
        </div>
    </div>


{% for record in records[1] %}
<div class="ramka4form">
    {{record[0].content}},  Like:{{record[1]}}
    <div class="right">
<form action="/report_comment" method="post">
        <input type="hidden" value="{{record[0].id}}" name="id">
    <input type="hidden" value="{{record[3]}}" name="product_id">
        <input class="{{record[4]}} report_comment" type="submit" value="&#9873;">
<!-- if reported &#9873;   -->
</form>
<form action="/like_or_unlike_comment" method="post">
        <input type="hidden" value="{{record[0].id}}" name="id">
        <input type="hidden" value="{{record[3]}}" name="product_id">
        <input class="{{record[2]}} like_or_unlike_comment" type="submit" value="+">
</form>
</div>
</div>
{% endfor %}

<form action="/add_comment" method="post">
        <input type="hidden" value="{{records[0][0].id}}" name="id">
        <input type="text" placeholder="napisz komentarz" name="komentarz">
        <input class="save" type="submit" value="&#10003;">
</form>
<style>
    .liked
    {
        background: green;
    }
    .red
    {
        background: red;
    }
.ramka4form,.ramka5form
        {
            float: left;
            z-index: 3;
            height: 5vh;
            width: 45vw;
            background: lightblue;
            position: relative;
            border-radius: 10px;
            margin-bottom: 1vh;
            overflow: hidden;
            margin-left: 2%;
        }
.ramka5form
        {
            width: 90%;
            overflow-y: hidden;
            word-wrap: break-word;
            background: lightgreen;
        }
    .right
    {
        float: right;
        height: 5vh;
        width: 4vw;
    }
    .report_comment,.like_or_unlike_comment
    {
        float: left;
    }
</style>
{% endblock content %}