{% extends "layout.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div>
	<div class="ramka4">
	<div class="row">
		<div class="col-md-auto"><h2>Ogólne ustawienia konta:</h2></div>
		<div class="col"><form  action="/edit_account" method="post">
					<input class="edit_account" type="submit" value="Edytuj konto">
				</form>
				</div>
	</div>
			
		{% for record in baza %}
		<div class="ramka4form">
				Nazwa: {{record[0]}}<br/>
				Wiek: {{record[1]}}<br/>
				Płeć: {{record[2]}}<br/>
				Email: {{record[3]}}<br/>
			</div>
			{% endfor %}
	</div>
		<div class="contenerbutton">
			<div class="box">
			<form  action="/fav_products" method="post">
				<input class="fav_products" type="submit" value="Moje Produkty">
			</form>
			</div>
			<div class="box">
			<form  action="/opinions" method="post">
				<input class="opinions" type="submit" value="Moje Opinie">
			</form>
			</div>
		</div>
			<form  action="/delete_account" method="post">
				<input class="deletee edit" type="submit" value="Usuń konto">
			</form> 
</div>
    <style>
    *
    {
        margin:0;
        border: 0;
        padding: 0;
    }

    .ramka4
    {
        position: fixed;
        top: 30%;
        left: 100px;
        height: 60vh;
        width: 60vw;
    }
    .ramka4form
    {
        width: 50vw;
        height: 15vh;
        border-radius: 10px;
        
/*        background: #78c2ad;*/
        margin-bottom: 2vh;
        border: solid 3px #78c2ad;
        margin-bottom: 2vh;
    }
    .accept_edit_or_deny
    {
        width: 6vw;
        margin-right: 5px;
        float: right;
        margin-top: -5.5vh;
    }
    .accept,.deny,.edit
    {
        border-radius: 5px;
        float: left;
/*        margin-right: 0.5vw;*/
        width: 2vw;
        border: solid 2px #78c2ad;
    }
    .deletee
    {
         width: 10%;
    height: 7vh;
    background: darkred;
    position: fixed;
    right: 37px;
    bottom: 54px;
    color: white;
    border: solid 2px red;
    }
	.deletee:hover
	{
    background-color: red;
	}
	.fav_products
    {
    background: grey;
    color: black;
    border: solid 8px darkgray;
    }
	.fav_products:hover
	{
    background-color: darkgray;
	}
	.opinions
    {
    background: grey;
    color: black;
    border: solid 8px darkgray;
    }
	.opinions:hover
	{
    background-color: darkgray;
	}
	.edit_account
    {
    
    background: grey;
    color: black;
    border: solid 3px darkgray;
    }
	.edit_account:hover
	{
    background-color: darkgray;
	}
	.contenerbutton
    {
    width: 100%;
    margin-top: 50px;
    display: flex;
    }
    .box
    {
    /*width: 32%; */
    /* height: 347px; */
    /* background-color: #fd5000; */
    /* color: #ffffff; */
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    /* line-height: 0.79; */
    letter-spacing: 0.18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding-top: 350px;
    padding-right: 100px;
}
    }
    </style>
{% endblock content %}
